extends layout

block append content
  div
    div.sidenav(id=homePage + '-sidenav')
    div.main-content(id=homePage + '-main')
    div.footer(id=homePage + '-footer')
      p Created by ACM/AITP @ NCSU
