//- layout.pug
html
  head
    title CoursePro
  body
    block content
        <script type="text/javascript" src="../src/renderer.js"></script>
        link(rel='stylesheet', href='../css/bootstrap/bootstrap.css', type='text/css' )
        link(rel='stylesheet', href='../css/style.css', type='text/css' )

